/* =========== Hero =========== */
main header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
main header h1 {
    color: var(--dark-blue);
    /* font-size: 4rem; */
    font-size: 5vw;
}
main header p {
    color: var(--gray);
    font-size: 1rem;
}
main header button {
    text-transform: uppercase;
    font-weight: light;
    margin-top: 30px;
    color: var(--light-gray);
}
/* =========== /Hero =========== */


/* =========== Cards =========== */
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap:40px;
}
main section article {
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 10px;
    cursor: pointer;
    border: solid 1px transparent;
    transition: all 0.3s;
}
main section:has(article:hover) article:not(:hover) {
    scale: 0.95;
    opacity: 0.4;
}
main section article:hover {
    background-color: transparent;
    border: solid 1px var(--light-gray);
    box-shadow: none;
}
main section article .image_container {
    border-radius: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
main section article .image_container img {
    height: 100%;
}
main section article h4 {
    margin-top: 10px;
    font-weight: 500;
    color: var(--dark-blue);
}
main section article span {
    color: var(--gray);
    font-size: 13px;
}
main .link {
    color: var(--gray);
    display: block;
    width: fit-content;
    margin: 20px auto;
}
/* =========== /Cards =========== */


@media (max-width: 800px) {
    main header h1 {
        font-size: 8vw;
    }
}