* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IntelOne Display";
}
:root {
  --bg-color : #f9fafb;
  --purple : #6c63ff;
  --dark-blue : #111827;
  --gray : #6b7280;
  --light-gray : #e5e7eb;
}
::selection{
    background-color: var(--purple);
    color: var(--bg-color);
}
img {
    user-select: none;
}
body {
    background-color: var(--bg-color);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}
button {
    background-color: var(--purple);
    border: 0;
    color: var(--bg-color);
    letter-spacing: 0.3px;
    border-radius: 1000px;
    padding: 10px 24px;
    cursor: pointer;
    border: solid transparent 1px;
    transition: all 0.3s;
}
button:hover {
    border: solid var(--purple) 1px;
    background-color: transparent;
    color: var(--purple);
}
h1 {
    font-weight: 500;
}
.link {
    color: var(--purple);
    text-decoration: underline;
}

input[type="text"],input[type="email"],input[type="password"], textarea {
    outline: 0;
    border: 0;
    background-color: var(--light-gray);
    border-radius: 3px;
}
input {
    color: var(--dark-blue);
}
textarea {
    outline: 0;
}
input[type="text"]::placeholder, textarea::placeholder {
    color: var(--gray);
}

/* =========== NAV =========== */
nav {
    margin-left: 300px;
    background-color: var(--bg-color);
    border-radius: 0 0 20px 20px;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
nav ul li a.active {
    color: var(--purple);
}
nav ul li a {
    transition: color 0.2s;
}
nav ul li:hover a {
    color: var(--purple);
}
button.open-nav {
    display: none;
    z-index: 100;
}
@media (max-width: 1000px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color);
        z-index: 80;
        border-radius: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-200%);
        transition: transform 0.3s;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap: 5px;
        margin: 0 10px;
    }
    nav ul li a {
        background-color: var(--light-gray);
        padding: 10px 0;
        width: 100%;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    nav ul li a.active {
        background-color: var(--purple);
        color: var(--bg-color);
        position: relative;
        /* overflow: hidden; */
    }
    nav ul li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 1000px;
        background-color: var(--purple);
    }
    nav ul li a.active::after {
        background-color: var(--dark-blue);
        width: 10%;
    }

    button.open-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 0.8rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--dark-blue);
        padding: 0;
        margin: 10px;
    }
    button.open-nav.style1 {
        background-color: var(--dark-blue);
        color: var(--bg-color);
    }
    button.open-nav:hover {
        color: var(--bg-color);
        border-color: transparent;
    }
}
/* =========== /NAV =========== */


/* =========== Theme button =========== */
.theme {
    position: fixed;
    right: 10px;
    top: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: var(--dark-blue);
    outline: 0px solid hsla(221, 39%, 11%, 0.6);
    color: var(--bg-color);
    border: 0;
}
.theme:hover {
    border: 0;
    background-color: var(--dark-blue);
    color: var(--bg-color);
    outline-width: 5px;
}
/* =========== /Theme button =========== */


/* =========== FOOTER =========== */
footer {
    background-color: var(--dark-blue);
    color: var(--bg-color);
    padding-block: 10px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
}
footer a {
    color: var(--bg-color) !important;
}
/* =========== /FOOTER =========== */